/*variable*/
@appleBodyWidth: 640px;
@navbarHeight: 60px;

/*mixin*/
.flex-y-center {
	display: -webkit-flex;
	display: flex;
	align-items:center;
	-webkit-align-items:center;
}
.flex-x-center {
	display: -webkit-flex;
	display: flex;
	justify-content:center;
	-webkit-justify-content:center;
}
.flex-x-justify {
	display: -webkit-flex;
	display: flex;
	justify-content:center;
	-webkit-justify-content:center;
}
.flex-y-center-but-x-justify {
	display: -webkit-flex;
	display: flex;
	align-items:center;
	justify-content:space-between;
	-webkit-align-items:center;
	-webkit-justify-content:space-between;
}
.tennis-logo {
	display: inline-block;
	height: 25px;
	width: 25px;
	text-align: center;
	background-image: url(../resources/tennis.png);
	color: #ea2929;
	font-style: italic;
}
.border-test {border: 1px solid black;}
.shadow-bottom(@bottom) { box-shadow: 0px @bottom 3px #cfd6d8 }
.btn-aqua(@fontsize, @bordersize: 0px, @heightsize, @weightsize, @borderadius) { /*with .button*/
	font-size: @fontsize;
	color: white;
	height: @heightsize;
	line-height: @heightsize - 2*@bordersize;
	text-align: center;
	width: @weightsize;
	border: @bordersize solid white;
	border-radius: @borderadius;
	background-color: #33ccff;
}
.single-line-center(@lineheight) {
	height: @lineheight;
	line-height: @lineheight;
}

/*content*/
body{
	width:@appleBodyWidth;
	font-family: "Microsoft YaHei", sans-serif;
}
/**common**************************************/
.navbar-through .page-content { padding-top: @navbarHeight; }
.navbar{
	height:@navbarHeight;
	background-color: transparent;
}
.navbar-inner{
	.shadow-bottom(1px);
	background-color: white;
	line-height: @navbarHeight;
	.left{
		font-size: 30px;
		font-weight: bold;
		z-index: 30;
		[alt="CRT-logo"]{
			margin: 17px 12px 0;
		}
	}
	a.back.link.right{
		font-size: 24px;
		color: #33ccff;
		padding-right: 32px;
	}
}
.navbar::after{display: none;}
.button { border: none; }
#user-center-page {
	.content-block {
		margin: 0;
	}
	.content-block#user-contact {
		height: 235px;
		background-image: url("../resources/usercenter-banner.jpg");
		padding: 0;
		line-height: 1;
		color: white;
		.mask {
			box-sizing: border-box;
			height: 100%;
			background-color: rgba(0,184,240,0.90);
			padding: 48px 48px 39px;
		}
		#user-name, #user-phone, #user-mail { padding: 0 3px; }
		#user-name {
			font-size: 37px;
			font-weight: bold;
			margin-bottom: 19px;
		}
		#user-phone, #user-mail { font-size: 23px; }
		a.btn.btn-edit {
			margin-top: 24px;
			.btn-aqua(@fontsize: 22px, @bordersize: 3px, @heightsize: 53px, @weightsize: 142px, @borderadius: 11px);
		}
	}
	.content-block#user-function {
		padding: 0;
		background-color: white;
		text-align: center;
		.shadow-bottom(1px);
		.row#user-display {
			padding: 13px 0;
			border-bottom: 1px solid #c8c7cc;
			.col-auto {
				border-right: 1px solid #c8c7cc;
				.info {
					font-size: 29px;
					color: #666666;
				}
				.title {
					font-size: 20px;
					color: #999999;
				}
			}
			.col-auto:last-child { border-right: none; }
		}
		.row#user-operation {
			padding: 34px 21px;
			a.btn-bigsquare.btn-apply { background-color: #3b5999; }
			a.btn-bigsquare.btn-sign { background-color: #33ccff; }
			a.btn-bigsquare.btn-history { background-color: #ea764e; }
			a.btn-bigsquare {
				display: flex;
				display: -webkit-flex;
				flex-direction: column;
				-webkit-flex-direction: column;
				justify-content: center;
				-webkit-justify-content: center;
				width: 176px;
				height: 141px;
				color: white;
				border-radius: 5px;
				.icon { font-size: 53px; }
				.title { font-size: 23px; }
			}
		}
	}
	.list-block#user-info {
		margin-top: 3px;
		.item-inner::after { display: none; }
		ul::before, ul::after { display: none; }
		li.accordion-item {
			border-bottom: 3px solid #efefef;
			a.item-link {
				line-height: 82px;
				font-size: 24px;
				background-color: #ecf4f6;
				padding-left: 0;
			}
			.item-inner {
				padding-left: 72px;
				padding-right: 88px;
			}
			.item-title:first-child { color: #76d7fd; }
			.item-title:last-child { color: #666666; }
		}
		li.accordion-item.accordion-item-expanded .item-inner {
			border-top: 3px solid white;
			border-left: 7px solid white;
		}
		.accordion-item-content {
			li { padding-left: 37px; }
			.btn.sign {
				.btn-aqua(@fontsize: 19px, @heightsize: 49px, @weightsize: 131px, @borderadius: 5px);
			}
			.row {
				.col-75 {
					p {
						font-size: 19px;
						color: #b8b8b8;
						margin-bottom: 0;
					}
					.row:last-child { margin-bottom: 19px; }
					span { color: #666666; }
					.info { font-size: 24px; }
				}
				.col-25 {
					height: 100%;
					align-self: center;
					-webkit-align-self: center;
				}
			}
		}
	}
}
.navbar-inner[data-page=index] { display: none; }
#sign-in-page {
	.page-content { background-color: white; }
	.content-block { 
		margin: 0; 
		padding-left: 22px;
		padding-right: 20px;
	}
	.content-title#sign-in_title {
		background-color: #ecf4f6;
		border-bottom: 1px solid #e4e4e4;
		.single-line-center(100px);
		span.go-back a {
			padding-left: 4px;
			padding-right: 40px;
			font-size: 19px;
			color: #33ccff;
			display: inline-block;
		}
		span.title-name {
			font-size: 29px;
			color: #333333;
		}
	}
	.content-block#sign-in_user-account {
		padding-top: 26px;
		ul::before, ul::after { display:none; }
		.item-inner::after { display:none; }
		.list-block { margin: 0; }
		li.item-content {
			background-color: #ececec;
			margin-bottom: 24px; 
			input { font-size: 25px; }
			color: #868686;
			.single-line-center(80px);
		}
		.list-block #signin {
			margin-top: 31px;
			margin-bottom: 37px;
			.btn-aqua(@fontsize: 22px, @heightsize: 82px, @weightsize: 100%, @borderadius: 9px);
			font-weight: bold;
		}
		.list-block .list-block-label {
			padding-left: 9px;
			color: #666666;
			font-size: 25px;
			a { color: #33ccff; }
		}
	}
}
.button.active-state {
  opacity: 0.4;
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
}
#index-page {
	.page-content { background-color: #ecf4f6; }
	.content-block { margin: 0; }
	.content-block#index-title {
		box-sizing: border-box;
		height: 350px;
		background-image: url(../resources/index2/index-01.jpg);
		background-position: bottom;
		padding: 0;
		.mask {		
			position: relative;
			box-sizing: border-box;
			padding-bottom: 68px;
			height: 100%;
			background-color: rgba(0, 152, 238, 0.32);
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			-webkit-flex-direction: column;
			justify-content: flex-end;
			-webkit-justify-content: flex-end;
			align-items: center;
			-webkit-align-items: center;
			color: white;
			font-size: 33px;
			line-height: 1;
			letter-spacing: 0.1em;
		}
		img#title-logo { 
			position: absolute; 
			top: 6px;
			left: 11px;
		}
		#title-main {
			font-size: 58px;
			font-weight: bold;
			margin-bottom: 30px;
			text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
		}
	}
	.content-block#index-linkgroup {
		padding: 0;
		padding-top: 10px;
		height:155px;
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		a.button {
			height: 100%;
			width: 205px;
			padding: 0;
			border-radius: 0; 
			.mask {
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				color: white;
				font-size: 22px;
				font-weight: bold;
				.flex-y-center; 
				.flex-x-center;
				.link-name {
					width: 4em;
					white-space: normal;
					line-height: 1.32;
				}
			}
		}
		a.button:nth-child(1) { background-image: url(../resources/index2/index-02.jpg); }
		a.button:nth-child(2) { background-image: url(../resources/index2/index-03.jpg); }
		a.button:nth-child(3) { background-image: url(../resources/index2/index-04.jpg); }
	}	
	.list-block#index-news {
		margin: 0;
		ul::before, ul::after { display: none; }
		ul { 
			margin-top: 46px; 
			background-color: transparent; 
			padding-left: 57px;
			padding-bottom: 5em;
			li {
				color: #666;
				font-size: 22px;
				line-height: 2.045;
			}
			li::before { 
				content: "•";
				margin-right: 1em;
				color: #33ccff; 
			}
		}
	}
	.page-content { padding-bottom: calc( 2 * 120px ); }
	.toolbar { height: calc( 2 * 120px ); }
	.toolbar::before { display: none; }
	.toolbar-inner {
		padding: 0;
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: center;
		.btn-row {
			height: 120px;
			width: 100%;
			font-size: 32px;
			color: white;
			.flex-x-center;
		}
		.btn-signin {  
			background-color: #33ccff;
			font-weight: bold;
		}
		.btn-register { background-color: #aad1de; }
	}
}