@appleBodyWidth: 640px;

body{width:@appleBodyWidth;}

.subnavbar{
	height:auto;
			background-color: #007aff;
	.buttons-row{
		padding: 1em;

		.button:first-child {
		  border-left-width: 0;
		}
	}
	.button.button-big-big {
	  height: auto;
	  line-height: auto;

	  i {
	  	font-size:3em;
	  }
	}
}

#apply-page{
	.page-content {
	  padding-top: 155px;
	}
}