.navbar
  .navbar-inner(data-page='check-in', data-logobar-title='中国CRT中网级别联赛选手签到')
    .right
      a.link(href='user-center.html') 个人中心
#check-in-page.page(data-page='check-in')
  // Scrollable page content
  .page-content
    .content-block.checkin-banner
      .banner-title.banner-title-little 2015中国网球分级系列赛
      |       
      .banner-title.banner-title-main 选手签到
    |     
    .content-block.checkin-basic
      .row
        span.year 2015
        |         
        span CRT中网级别联赛
        |         
        span.season 第二季
        |         
        span.area 北京地区
      |       
      .row
        .col-auto
          | 抽签时间：
          span.roll-time 2015-07-04
        |         
        .col-auto
          | 比赛时间：
          span.match-time 2015-07-04
    |     
    .content-block.checkin-info
      .row
        .col-auto.match-type 男单
        |         
        .col-auto.match-level 5.0级别
      |       
      .row
        .col-auto.match-round 第二轮（128强）
        |         
        .col-auto.match-number 签位数：128
  |   
  .toolbar
    a.button.button-big(href='#') 确认签到
