.navbar
  .navbar-inner(data-page='match-info-choose', data-logobar-title='中国CRT中网级别联赛赛程安排')
#match-info-choose-page.page(data-page='match-info-choose')
  // Scrollable page content
  .page-content
    .content-block.checkin-banner
      a.back.link(href='#')
        i.fa.fa-chevron-left
        |  返回
      |       
      .banner-title.banner-title-head 2015中国网球分级系列赛
      |       
      .banner-title.banner-title-main 北京站
      |       
      .banner-title.banner-title-foot 赛程安排
    |     
    .content-block.matchinfo-swiper
      #match-season.swiper-custom
        .swiper-title 比赛
        |         
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              span 第一季
            |             
            .swiper-slide
              span 第二季
            |             
            .swiper-slide
              span 第三季
            |             
            .swiper-slide
              span 第四季
        |         
        .swiper-button-prev
        |         
        .swiper-button-next
      |       
      #match-type.swiper-custom
        .swiper-title 项目
        |         
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              span 男单
            |             
            .swiper-slide
              span 男双
            |             
            .swiper-slide
              span 女单
            |             
            .swiper-slide
              span 女双
            |             
            .swiper-slide
              span 混双
        |         
        .swiper-button-prev
        |         
        .swiper-button-next
    |     
    .content-block.matchinfo-details
      .swiper-title 详细
      |       
      #match-level.swiper-custom
        .swiper-title 级别
        |         
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              span 5.0
            |             
            .swiper-slide
              span 4.0
            |             
            .swiper-slide
              span 3.0
            |             
            .swiper-slide
              span 2.0
            |             
            .swiper-slide
              span 1.0
        |         
        .swiper-button-prev
        |         
        .swiper-button-next
        |         
        .swiper-foot 级
      |       
      #match-round.swiper-custom
        .swiper-title 轮次
        |         
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              span 256
            |             
            .swiper-slide
              span 128
            |             
            .swiper-slide
              span 64
            |             
            .swiper-slide
              span 32
            |             
            .swiper-slide
              span 16
            |             
            .swiper-slide
              span 8
            |             
            .swiper-slide
              span 4
            |             
            .swiper-slide
              span 2
        |         
        .swiper-button-prev
        |         
        .swiper-button-next
        |         
        .swiper-foot 强
  |   
  .toolbar
    a.button.button-big(href='#') 浏览赛程
