.navbar
  .navbar-inner(data-page='match-info-table', data-logobar-title='CRT中网级别联赛 赛程安排')
#match-info-table-page.page(data-page='match-info-table')
  // Scrollable page content
  .page-content
    .content-block.sub-title
      a.back.link(href='#')
        i.fa.fa-chevron-left
        |  返回
      |       
      span.title-name 2015年CRT中网级别联赛 赛程安排
    |     
    .content-block.area-content
      // Template7 fillin
