.navbar
  .navbar-inner(data-page='match-info-middle', data-logobar-title='中网级别联赛对阵表')
    .right
      a.link.no-animation(href='user-center.html') 个人中心
#match-info-middle-page.page(data-page='match-info-middle')
  .page-content
    .content-block.sub-title
      a.back.link(href='#')
        i.fa.fa-chevron-left
        |  返回
      |       
      span.title-name 2015 CRT中网级别联赛第一季
      span.location 北京站
    |               
    |     
    .content-block.matchinfo-content-basic
      .main-wrap
        .main-title
          i.fa.fa-arrow-circle-o-up.fa-rotate-90
          |           
          span.title-text
            .text-description 5.0级别 男单
            |             
            .text-main 128强
        |         
        .main-content
          ul
            li.item
              .table
                .table-column-group.name
                  .table-column
                |                 
                .table-column-group.single-score
                  .table-column
                  |                   
                  .table-column
                  |                   
                  .table-column
                |                 
                .table-column-group.total-score
                  .table-column
                |                 
                .table-row-group
                  .table-row.win
                    .table-cell.name 刘帅
                    |                     
                    .table-cell.single-score 6
                    |                     
                    .table-cell.single-score 6
                    |                     
                    .table-cell.single-score
                    |                     
                    .table-cell.total-score 2
                  |                   
                  .table-row
                    .table-cell.name 唐学晶
                    |                     
                    .table-cell.single-score 4
                    |                     
                    .table-cell.single-score 2
                    |                     
                    .table-cell.single-score
                    |                     
                    .table-cell.total-score 1
            |             
            li.item
              .table
                .table-column-group.name
                  .table-column
                |                 
                .table-column-group.single-score
                  .table-column
                  |                   
                  .table-column
                  |                   
                  .table-column
                |                 
                .table-column-group.total-score
                  .table-column
                |                 
                .table-row-group
                  .table-row.win
                    .table-cell.name 曹证富
                    |                     
                    .table-cell.single-score 6
                    |                     
                    .table-cell.single-score 6
                    |                     
                    .table-cell.single-score 6
                    |                     
                    .table-cell.total-score 2
                  |                   
                  .table-row
                    .table-cell.name 张璐
                    |                     
                    .table-cell.single-score 4
                    |                     
                    .table-cell.single-score 7
                    |                     
                    .table-cell.single-score 2
                    |                     
                    .table-cell.total-score 1
            |             
            li.item
              .table
                .table-column-group.name
                  .table-column
                |                 
                .table-column-group.single-score
                  .table-column
                  |                   
                  .table-column
                  |                   
                  .table-column
                |                 
                .table-column-group.total-score
                  .table-column
                |                 
                .table-row-group
                  .table-row
                    .table-cell.name 刘帅
                    |                     
                    .table-cell.single-score
                    |                     
                    .table-cell.single-score
                    |                     
                    .table-cell.single-score
                    |                     
                    .table-cell.total-score
                  |                   
                  .table-row
                    .table-cell.name 唐学晶
                    |                     
                    .table-cell.single-score
                    |                     
                    .table-cell.single-score
                    |                     
                    .table-cell.single-score
                    |                     
                    .table-cell.total-score
            |             
            li.item
            |             
            li.item
            |             
            li.item
            |             
            li.item
      |         
      |       
      a.button.left-wrap.prev(href='#')
        i.fa.fa-angle-double-left
          .button-text 上一轮
      |       
      a.button.right-wrap.next(href='#')
        i.fa.fa-angle-double-right
          .button-text 下一轮
