.navbar
  .navbar-inner(data-page='match-info-table', data-logobar-title='中国CRT赛事地区')
    .right
      a.link(href='user-center.html') 个人中心
#match-info-table-page.page(data-page='match-info-table')
  // Scrollable page content
  .page-content
    .content-block.sub-title
      a.back.link(href='#')
        i.fa.fa-chevron-left
        |  返回
      |       
      span.title-name CRT赛事地区选择
    |     
    .content-block.area-content
      // Template7 fillin
