.navbar
  .navbar-inner(data-page='news-content', data-logobar-title='中国CRT赛事新闻')
    .right
      a.link.no-animation(href='user-center.html') 个人中心
#news-content-page.page(data-page='news-content')
  .page-content
    .content-block.sub-title
      a.back.link(href='#')
        i.fa.fa-chevron-left
        |  返回
      |       
      span.title-name 公告通知
    |               
    |     
    .content-block.news-content-basic
      .news-title 北京赛区重要通知（一）
      |       
      .news-time 2015-06-05
      |       
      .news-content
        p 1. 凡是未在网上缴费，也没有与赛事组委会联系的球员，均视为主动放弃比赛，没有参赛资格，敬请谅解！
        |         
        p 2. 30日单打（请看赛程，以赛程安排为主），31日双打。
        |         
        p 3. 凡是未在网上缴费，也没有与赛事组委会联系的球员，均视为主动放弃比赛，没有参赛资格，敬请谅解！
        |         
        p 4. 30日单打（请看赛程，以赛程安排为主），31日双打。
