.navbar
  .navbar-inner(data-page='reg3')
    .right
      a.link(href='user-center.html') 个人中心
#reg3-page.page.reg-page(data-page='reg3')
  .page-content
    .content-block.reg-basic
      .row.no-gutter.form-header
        .col-15
          .go-back
            a.back.link(href='#')
              i.fa.fa-chevron-left
              |  返回
        |         
        .col-35.form-title 联系方法
        |         
        .col-50
          | 第
          span.tennis-logo 3
          | 步
    |     
    .list-block.form-basic
      ul
        // Text inputs
        li
          .item-content
            .item-media
              i.icon.icon-form.icon-form-1
            |             
            .item-inner
              .item-title.label 手机号码
              |               
              .item-input
                input(type='text', placeholder='你的手机号')
        |         
        li
          .item-content
            .item-media
              i.icon.icon-form.icon-form-2
            |             
            .item-inner
              .item-title.label 座机号码
              |               
              .item-input
                input(type='text', placeholder='可选填')
        |         
        li
          .item-content
            .item-media
              i.icon.icon-form.icon-form-2
            |             
            .item-inner
              .item-title.label 电子邮件
              |               
              .item-input
                input(type='text', placeholder='你的电子邮箱')
  |   
  .toolbar
    .row
      .col-auto
        a.button.button-big.button-green(href='#reg4') 完成注册
