.navbar
  .navbar-inner(data-page='reg4')
    .right
      a.link(href='user-center.html') 个人中心
#reg4-page.page.reg-page(data-page='reg4')
  .page-content.hide-bars-on-scroll
    .content-block.reg-basic
      .row.no-gutter.form-header
        .col-15
          .go-back
            a.back.link(href='#')
              i.fa.fa-chevron-left
              |  返回
        |         
        .col-35.form-title 注册成功
        |         
        .col-50
          | 第
          span.tennis-logo 4
          | 步
    |     
    .content-block
      #notice0.container
        p 您已经注册成功
        |         
        p
          | 现在您就可以报名参赛
          strong 中国CRT赛事
    |     
    #notice1.content-block
      a.button.button-big.button-fill.color-red(href='#')
        img(src='./resources/tennis-color.png', alt='tennis-color')
        |  开 始 报 名！
    |     
    #notice2.content-block
      .container
        .row.info-box.info-header 您的注册信息
        |         
        .info-box.info-body
          .row.info-user
            .col-auto
              span.info-key  用户名 : 
              |               
              span.info-value 用户名 : 
          |           
          .info-basic
            .row.no-gutter
              .col-auto
                span.info-key 真实姓名 : 
                |                 
                span.info-value 真实姓名 : 
              |               
              .col-auto
                span.info-key 身份证号 : 
                |                 
                span.info-value 身份证号 : 
            |             
            .row.no-gutter
              .col-auto
                span.info-key   性别 : 
                |                 
                span.info-value 性别 : 
              |               
              .col-auto
                span.info-key 出生日期 : 
                |                 
                span.info-value 出生日期 : 
          |           
          .info-area
            .row.no-gutter
              .col-40
                span.info-key 所属地区 : 
                |                 
                span.info-value 呼和浩特
              |               
              .col-25
                span.info-key 国籍 : 
                |                 
                span.info-value 中国
              |               
              .col-33
                span.info-key 常驻城市 : 
                |                 
                span.info-value 呼和浩特
            |             
            .row.no-gutter
              .col-auto
                span.info-key 球员往绩 : 
                |                 
                span.info-value 球员往绩 : 
          |           
          .info-contact
            .row.no-gutter
              .col-auto
                span.info-key 手机号码 : 
                |                 
                span.info-value 手机号码 : 
              |               
              .col-auto
                span.info-key 座机号码 : 
                |                 
                span.info-value 座机号码 : 
            |             
            .row.no-gutter
              .col-auto
                span.info-key 电子邮箱 : 
                |                 
                span.info-value 电子邮箱 : 
        |         
        .row.info-box.info-footer 修改注册信息
