.navbar
  .navbar-inner(data-page='user-center', data-logobar-title='用户中心')
    .right
      a.back.link(href='#') 登出
#user-center-page.page(data-page='user-center')
  // Scrollable page content
  .page-content
    .content-block.user-contact
      .mask
        .info-title.justify_fix
          span#user-name 纳达尔
          |  
          |           
          a.button.btn.btn-edit(href='#') 编辑
        |         
        .info-contact
          span#user-phone
            i.fa.fa-mobile
            |  12533333333
          |           
          span#user-mail
            i.fa.fa-envelope-o
            |  ddd333@sina.com.cn
        |         
        .row.no-gutter.user-display
          .col-auto
            .info 5
            |             
            .title 级别
          |           
          .col-auto
            .info 北京
            |             
            .title 地区
          |           
          .col-auto
            .info 王默默
            |             
            .title 姓名
    |     
    .content-block.user-function
      // Link to 1st tab, active
      a.tab-link.active.button(href='#tab1')
        span.link-title
          | 在线报名
          span.badge-wrapper
            span.badge.bg-aqua.badge-1 1
      // Link to 2nd tab
      a.tab-link.button(href='#tab2')
        span.link-title
          | 抽签
          span.badge-wrapper
            span.badge.bg-aqua.badge-2 1
      // Link to 3rd tab
      a.tab-link.button(href='#tab3')
        span.link-title
          | 历史战绩
          span.badge-wrapper
            span.badge.bg-aqua.badge-3 1
    // Tabs animated wrapper, required to switch tabs with transition
    .tabs-animated-wrap
      // Tabs, tabs wrapper
      .tabs
        // Tab 1, active by default
        #tab1.tab.active
          .list-block.user-info
            ul
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
        // Tab 2
        #tab2.tab
          .list-block.user-info
            ul
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
        // Tab 3
        #tab3.tab
          .list-block.user-info
            ul
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
              |               
              li.item
                .item-title
                  | 2015年7月7日
                |                 
                .item-content
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 抽签
