.navbar
  .navbar-inner(data-page='user-center', data-logobar-title='用户中心')
    .right
      a.back.link(href='#') 登出
#user-center-page.page(data-page='user-center')
  // Scrollable page content
  .page-content
    .content-block.user-contact
      .mask
        .info-title.justify_fix
          span#user-name 纳达尔
          |  
          |           
          a.button.btn.btn-edit(href='#') 编辑
        |         
        .info-contact
          span#user-phone
            i.fa.fa-mobile
            |  12533333333
          |           
          span#user-mail
            i.fa.fa-envelope-o
            |  ddd333@sina.com.cn
        |         
        .row.no-gutter.user-display
          .col-auto
            .info 5
            |             
            .title 级别
          |           
          .col-auto
            .info 北京
            |             
            .title 地区
          |           
          .col-auto
            .info 王默默
            |             
            .title 姓名
    |     
    .content-block.user-info
      #user-operation.row
        .col-auto
          a.button.btn-bigsquare.btn-apply(href='#')
            .icon
              i.fa.fa-pencil-square-o
            |             
            .title 在线报名
        |         
        .col-auto
          a.button.btn-bigsquare.btn-sign(href='#')
            .icon
              i.fa.fa-check-circle
            |             
            .title 抽签&签到
        |         
        .col-auto
          a.button.btn-bigsquare.btn-history(href='#')
            .icon
              i.fa.fa-repeat
            |             
            .title 历史战绩
    |       
    |     
    #user-info.list-block.accordion-list
      ul
        li.accordion-item
          a.item-content.item-link(href='#')
            .item-inner
              span.item-title 已报项目
              |               
              span.item-title 1项
          |           
          .accordion-item-content
            .content-block
              ul
                li
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 选手签到
                |                 
                li
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 选手签到
        |         
        li.accordion-item
          a.item-content.item-link(href='#')
            .item-inner
              span.item-title 抽签&签到
              |               
              span.item-title 1项
          |           
          .accordion-item-content
            .content-block
              ul
                li
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 选手签到
                |                 
                li
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 选手签到
        |         
        li.accordion-item
          a.item-content.item-link(href='#')
            .item-inner
              span.item-title 历史战绩
              |               
              span.item-title 1项
          |           
          .accordion-item-content
            .content-block
              ul
                li
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 选手签到
                |                 
                li
                  .row.no-gutter
                    .col-75
                      p 2015 CRT中网级别联赛 第一季 北京 5.0级别
                      |                       
                      p
                        | 项目：
                        span.info 单打
                        |    参赛者：
                        |                         
                        span.info 王默默
                      |                       
                      .row.no-gutter
                        .col-auto
                          p
                            | 抽签日期:
                            span.number 2015-06-16
                          |                           
                          p
                            | 签位数:
                            span.number 256
                        |                         
                        .col-auto
                          p
                            | 比赛日期:
                            span.number 2015-06-18
                          |                           
                          p
                            | 签/报:
                            span.number 2015-06-16
                    |                     
                    .col-25
                      a.button.btn.sign(href='#') 选手签到
